


body{
    
}

p{
    color: seagreen;
}

section{
    padding:10px;
    overflow:hidden;
}

section > section{
    float: left;
}

.picture_display{
    height: 50%;
}

.toprow {
    background-color: #333;
    overflow: hidden;
    position: relative;
    
}


.toprow a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: sticky;
}


.toprow a:hover {
    background-color: lightgray;
    color: black;
}


.toprow a.active {
    background-color: rebeccapurple;
    color: white;
    position: sticky;
}

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(images/CVRE.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;/*was fixed */
    background-color:black;
    height:900px;
    
    font: Monospace;
    text-align:center;
    white-space: nowrap;
}

.header a{
    
}

.header a.larger_text{
    font-size: 60px;
    color: white;
    line-height: 170px;
    position: relative;
    top: 190px;
    
}

.header a.larger_text:hover{
    color:white;
}

.header a.smaller_text{
    font-size: 32px;
    color: lightgray;
    position: relative;
    top:180px;
}

.header a.smaller_text:hover{
    color:lightgray;
}

.info{
    background-color: #232528;
    top:0px;
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    font: Monospace;
    text-align: center;
    white-space: nowrap;
    font-size: 25px;
    color: darkgray;
    
}

.footer{
    background-color: #232528;
    width: 100%;
    position:relative;
    display:inline-block;
    overflow:hidden;
    font: Monospace;
    white-space: nowrap;
    font-size: 30px;
    color:darkgray;
}

.footer a{
    text-align: center;
}

.footer a.title{
    text-align:right;
    color:white;
    padding-left:25%;
    padding-right:400px;
}

.footer a.link{
    color: seagreen;
    text-align:left;
}
